//@import "./base/_reset.scss";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
}

/*--------------------------------------------End of reset*/

@import "./utilities/_variables.scss";
@import "./base/_typo.scss";
@import "./components/divider_subtitle.scss";

/*--------------------------------------------End of utilities import*/



/*--------------------------------------------Header*/

@import "./layout/_header_desplegable_horizontal.scss";

/*--------------------------------------------Main content*/

.main{
    @include caja_fondo_de_imagen_y_text("../images/main_small.jpg","../images/main_medium.jpg","../images/main_large.jpg","../images/main_xlarge.jpg",$color_secondary,100vw, 65vh,white,2em);
    @include divider_subtitle(100vw,30vh,$color-fourth,white,1em);
}

/*--------------------------------------------Footer*/

@import "./layout/footer.scss";





