//- variables

-var menu_links = ["home","services","products","more"]
-var social_network_icons = [["https://www.facebook.com","fab fa-facebook-square","Facebook"],["https://www.instagram.com", "fab fa-instagram-square", "Instagram"],["https://www.twitter.com", "fab fa-twitter-square", "Twitter"]]
-var copyright = "© Graham Cereals"

//- mixins

