//- variables

//- mixins

//- ---------------content---------------

//- header
-var menu_links = ["home","services","products","more"]

//- main

-var main_text = "Lorem ipsum dolor sit amet consectetur adipisicing elit, quos, recusandae obcaecati explicabo aliquid nesciunt ea magni."

//-footer
-var copyright = "© Graham Cereals"
-var social_network_icons = [["https://www.facebook.com","fab fa-facebook-square","Facebook"],["https://www.instagram.com", "fab fa-instagram-square", "Instagram"],["https://www.twitter.com", "fab fa-twitter-square", "Twitter"]]

