//- variables

//- ---------------content---------------

//- header
-var menu_links = ["home","sit libero","quisquam","doloribus"]
-var menu_icon_class = "fas fa-bars";

//- main

-var main_title = "Graham Cereals"  
-var main_text = "Lorem ipsum dolor sit amet consectetur"
-var categories_subtitles = ["Sit libero fugiat dicta veniam","quisquam sunt ex voluptatem","doloribus earum impedit magni illo"]

//-footer
-var copyright = "© Graham Cereals"
-var social_network_icons = [["https://www.facebook.com","fab fa-facebook-square","Facebook"],["https://www.instagram.com", "fab fa-instagram-square", "Instagram"],["https://www.twitter.com", "fab fa-twitter-square", "Twitter"]]

//- mixins

mixin caja_fondo_de_imagen_y_text (padre,text,title)
    div(class= padre + "__box")
        h1(class= padre + "__box-title")= title
        h3(class= padre + "__box-text")= text

