.footer{
    width: 100vw;
    height: 25vh;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: $color_third;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #{$color_secondary}, $color_third);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #{$color_secondary}, $color_third); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    &__text{
        margin-left: 10px;
    }

    @include media(desktop-m){
        height: 15vh;
    }

    & > *{
        margin-bottom: 10px;
    }

    &__icons-container{
        display: flex;
        //justify-content: space-evenly;

        &-icon{
            margin-right: 10px;

            font-size: 1.5em;
            
            color: $color_fourth
        }
    }
}




