.header{    
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 1000;

    @include media(desktop-m){
        left: 30px;
        top: 30px;
    }

    &__nav{
        position: fixed;

        display: flex;
        align-items: center;
        justify-content: left;
        
        &-menu-icon{
            cursor: pointer;
            font-size: 1.5em;
            color: white;
        }

        &-link{
            display: none;
            padding: 10px;
            //padding-right: 0px;
            
            font-size: 0.8em;
            color: white;
            text-decoration: none;

            &::first-letter{
                text-transform: uppercase;
            }
            &:hover{
                text-decoration: underline;
            }
            @include media(tablet){
                font-size: 1.2em;
            }
            @include media(dektom-m){
                font-size: 1.5em;
            }
        }

        &:hover .header__nav-link{
            display: inline-block;
        }
    }
}