
<!-- - variables-->
<!-- - mixins--><!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Graham Cereals</title>
    <script src="https://kit.fontawesome.com/4f0eaaa307.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header class="header">
      <nav class="header__nav"><a class="header__nav-link" href="home.html">home</a><a class="header__nav-link" href="services.html">services</a><a class="header__nav-link" href="products.html">products</a><a class="header__nav-link" href="more.html">more</a>
      </nav>
    </header>
    <footer class="footer">
      <p>© Graham Cereals</p>
      <div class="footer__icons-container"><a class="footer__icons-container-link" href="https://www.facebook.com"><i class="footer__icons-container-icon fab fa-facebook-square" title="Facebook"></i></a><a class="footer__icons-container-link" href="https://www.instagram.com"><i class="footer__icons-container-icon fab fa-instagram-square" title="Instagram"></i></a><a class="footer__icons-container-link" href="https://www.twitter.com"><i class="footer__icons-container-icon fab fa-twitter-square" title="Twitter"></i></a>
      </div>
    </footer>
  </body>
</html>